/* .produtos-principais, .outros-produtos{
    .produto{
        display: flex;
        flex-direction: column;
        background: white;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: black;
        border-radius: 20px;
        width: fit-content;
        .nome-produto{
            font-weight: bold;
        }
        .fazer-orcamento{
            padding: 0 10px;
        }
    }
} */
